.banner-vol{
    background-image: url('../../../images/volunteer-bg.jpg');
    height: 900px;
    width: 100%;
    background-blend-mode: overlay;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
    margin-bottom: 50px;
    margin-top: 200px;
    }
    .custom-card-pad{
        margin-top: -110px;
    }
  