.banner{
    background-image: url('../../../images/home_banner.jpg');
    height: 800px;
    width: 100%;
    background-blend-mode: overlay;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
    }
    .text-part{
        margin-top: 150px;
    }
    .custom-h1{
        font-weight: 900;
        font-size: 80px;
        
    }